<%layout('./layout/page')%>
<% block('title', '')%>

<h2>Wellcome to VolleyChat</h2>
<p>If you want to chatting, <a href="/login">Sing in</a> or <a href="/register">registrate new profile</a>!</p>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <a href="/frontpage">Главная</a>
        <a href="/login">Войти</a>
        <a href="/register">Регистрация</a>
    </div>

</div>
</body>
</html>
-->
